<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Accueil - Gestion de Collection</title>
	<!--  CSS Bootstrap Dependencies  -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
</head>


<body>

	<div class="container">
		<!-- Nav Bar -->
		<div th:replace="~{fragment/navbar :: navbar-list}"></div>
	</div>


	<div th:replace="~{fragment/Book :: book-list}"></div>


	<!--  JS Bootstrap Dependencies  -->
	<script th:src="@{/webjars/popper.js/2.11.6/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

</body>

</html>